#design, #ruby, #java, #conflict, #either-or {
  display: none;
}

.jumbotron {
  text-align: center;
}

h1 {
  margin-bottom: 15px;
}

h2 {
  color: #C45A43;
}

label {
  margin-top: 20px;
}

.radio {
  margin-top: 10px;
}

.answers {
  margin-top: 35px;
  text-align: center;
}
